[[source]]
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
watchdog = "==0.8.3"
"flake8" = "*"
faker = "*"

[packages]
flask = "*"
flask-ckeditor = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-moment = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-debugtoolbar = "*"
gunicorn = "*"
flask-migrate = "*"
mysql-python = "*"
mysql-connector = "*"
flask-caching = "*"
flask-whooshee = "*"
email-validator = "*"
flask-wtf = "==0.14.2"
werkzeug = "==0.16.1"
